[
  {
    "name": "gaia",
    "consumerSecret": "{{gaia.consumer_secret}}",
    "consumerKey": "{{gaia.consumer_key}}",
    "repo": "gaia",
    "user": "mozilla-b2g",
    "branch": "pull request"
  },
  {
    "name": "gaia-master",
    "consumerSecret": "{{gaia-master.consumer_secret}}",
    "consumerKey": "{{gaia-master.consumer_key}}",
    "repo": "gaia",
    "user": "mozilla-b2g",
    "branch": "master"
  },
  {
    "name": "taskcluster-integration",
    "consumerSecret": "{{taskcluster-integration.consumer_secret}}",
    "consumerKey": "{{taskcluster-integration.consumer_key}}",
    "user": "lightsofapollo-staging",
    "repo": "github-graph-example",
    "branch": "pull request"
  },
  {
    "name": "taskcluster-integration",
    "consumerSecret": "{{taskcluster-integration.consumer_secret}}",
    "consumerKey": "{{taskcluster-integration.consumer_key}}",
    "user": "taskcluster",
    "repo": "github-graph-example",
    "branch": "pull request"
  }
]
